.Chat-main
  .Chat-header
    .Chat-header__left-box
      .Chat-header__left-box__current-group
        %p test
      %ul.Chat-header__left-box__member-list
        = "Member："
        %li.Chat-header__left-box__member-name
          test
    .Chat-header__edit-btn
      = link_to "Edit", "#"
  .Message-list
  .Message-form
    .New-message
      .New-message__input-text
      .New-message-submit-btn
