.Chat-main
  .Chat-header
    .Chat-header__left-box
      .Chat-header__left-box__current-group
        %p test
      %ul.Chat-header__left-box__member-list
        = "Member："
        %li.Chat-header__left-box__member-name
          test
    .Chat-header__edit-btn
      = link_to "Edit", "#"
  .Message-list
    .Message-list__box
      .Message-info
        .Message-info__user-name
          name
        .Message-info__date
          2020/08/01(Sut) 15:00
      .Message-text
        %p sample
    .Message-list__box
      .Message-info
        .Message-info__user-name
          name
        .Message-info__date
          2020/08/01(Sut) 15:00
      .Message-text
        %p sample
    .Message-list__box
      .Message-info
        .Message-info__user-name
          name
        .Message-info__date
          2020/08/01(Sut) 15:00
      .Message-text
        %p sample
  .Message-form
    %form.New_message
      .Input-box
        %input{type: "text", class: "Input-box__text", placeholder: "type a message"}
        %label{class: "Input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "Input-box__image__file"}
      %input{type: "submit", class: "Submit-btn", value: "Send"}
