.Side-bar
  .Side-header
    .Side-header__box
      .Side-header__box__username
        %p masa
      %ul.Side-header__box__menu
        %li.Side-header__box__edit-user
          = link_to "#" do
            = icon('far', 'edit')
        %li.Side-header__box__new-group
          = link_to "#" do
            = icon('fas', 'cog')
  .Group-list
    .Group
      .Group__name
        %p test
      .Group__new-message
        %p testtest
    .Group
      .Group__name
        %p test
      .Group__new-message
        %p testtest
    .Group
      .Group__name
        %p test
      .Group__new-message
        %p testtest