.Chat-main {
  width: calc(100vw - 300px);
  background-color: $white;
  .Chat-header {
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    &__left-box {
      &__current-group {
        margin-top: 35px;
        font-size: 20px;
        color: $black;
      }
      &__member-list {
        display: flex;
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
      }
    }
    &__edit-btn {
      width: 72px;
      height: 40px;
      margin-top: 28px;
      padding:0 20px;
      border: solid 1px $sky-blue;
      line-height: 40px;
      a {
        font-size: 16px;
        color: $sky-blue;
        text-decoration: none;
      }
    }
  }
  .Message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 35px 40px 0 40px;
    &__box {
      margin-bottom: 46px;
      .Message-info {
        display: flex;
        &__user-name {
          font-size: 16px;
          color: $black;
          font-weight: bold;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          margin-left: 12px;
        }
      }
      .Message-text{
        font-size: 14px;
        color: #434a54;
        margin-top: 12px;
      }
    }
  }
  .Message-form {
    height: 90px;
    padding: 20px 40px;
    background-color: #d2d2d2;
    form {
      display: flex;
      .Input-box{
        width: 100%;
        display: flex;
        position: relative;
        &__text {
          width: 100%;
          height: 50px;
          padding: 0 40px 0 10px;
        }
        &__image {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &__file {
            display: none;
          }
        }
      }
      .Submit-btn {
        @include wi_he(100px, 50px);
        padding: 0 30px;
        margin-left: 15px;
        background-color: $sky-blue;
        color: #fff;
        border: none;
        cursor: pointer;
      }
    }
  }
}