*{
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.Side-header {
  width: 300px;
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  align-items: center;
  &__box {
    height: 20px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    &__username {
      font-weight: bold;
      p {
        color: white;
        font-size: 16px;
      }
    }
    &__menu {
      display: flex;
      li {
        padding-left: 5px;
        a {
          color: #ffffff;
        }
      }
    }
  }
}

.Group-list {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  .Group {
    padding: 20px 20px 40px;
    height: 91px;
    &__name {
      font-size: 15px;
      margin-bottom: 5px;
      color: #ffffff;
    }
    &__new-message {
      font-size: 11px;
      color: #ffffff;
    }
  }
}


.Chat-main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
.Chat-header {
  height: 100px;
  border-bottom: solid 1px #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  &__left-box {
    &__current-group {
      margin-top: 35px;
      font-size: 20px;
      color: #333333;
    }
    &__member-list {
      display: flex;
      color: #999999;
      font-size: 12px;
      margin-top: 15px;
    }
  }
  &__edit-btn {
    width: 72px;
    height: 40px;
    margin: 28px;
    padding:0 20px;
    border: solid 1px #38aef0;
    line-height: 40px;
    a {
      font-size: 16px;
      color: #38aef0;
      text-decoration: none;
    }
  }
}
.Message-list {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
}
.Message-form {
  height: 90px;
  background-color: #d2d2d2;
}